body{background-color: rgb(226, 226, 226);}


.paragraph {
  margin: -260px 400px 0px 20px;
  line-height: 1.5;
  border-top: 4px solid rgb(123, 0, 0) ;
  border-right: 4px solid rgb(123, 0, 0) ;
  border-top-right-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.Ai-photo {
  width: 250px;
  height: auto;
  border: 3px solid #7a0000;
  border-radius: 10px;
  position: relative;
  left: 1050px;
  top: -50px;
}
